<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.evaluationform"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="TelaInicial"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="TelaLogin"></activity>
        <activity android:name="TelaCadastro"></activity>
        <activity android:name="TelaPrincipal"></activity>
        <activity android:name="CriarEvento"></activity>
        <activity android:name="CriarProjeto"></activity>
        <activity android:name="VisualizarEventos"></activity>
        <activity android:name="CriarTabela"></activity>
        <activity android:name=".abas.MenuEvento"></activity>
        <activity android:name=".abas.MenuProjeto"></activity>
        <activity android:name="CriarCriterio"></activity>
        <activity android:name=".abas.MenuAvaliacao"></activity>
        <activity android:name="CriarAvaliacao"></activity>
        <activity android:name="CriarAvaliacaoNext"></activity>
        <activity android:name="MinhasAvaliacoes"></activity>
        <activity android:name="TelaNota"></activity>
        <activity android:name="Configuracao"></activity>
    </application>

</manifest>
